@import '~antd/dist/antd.css';
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-header {
  min-height: 35px;
  background-color: #282c34;
  color: white;
}

.App-main {
  flex: auto;
  display: flex;
  flex-direction: 100%;
  overflow: hidden;
}

.App-footer {
  min-height: 60px;
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.Stage {
  flex: 1;
}
