@import '~antd/dist/antd.css';
/* 
#456268
#79A3B1
#D0E8F2
#FCF8EC
*/

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-header {
  min-height: 35px;
  background-color: #456268;
  color: white;
}

.App-main {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.App-footer {
  min-height: 60px;
  background-color: #456268;
}

.App-link {
  color: #61dafb;
}

.Tools {
  background-color: #79a3b1;
  color: white;
  min-height: 150px;
  display: flex;
  flex-direction: column;
}

.ToolMode {
  /* background-color: tomato; */
  display: flex;
  min-height: 3em;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.ToolDetail {
  display: flex;
  padding-right: 0.5em;
  padding-left: 0.5em;
  max-height: 180px;
  overflow: auto;
}

.StageArea {
  flex: 1;
  position: relative;
  z-index: 1;
  /* display: flex;
  flex-direction: row; */
}

.Stage {
  /* flex: auto; */
}

.LabelData {
  position: absolute;
  background-color: #f5fdff;
  top: 2%;
  right: 10px;
  width: 300px;
  height: 95%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ControlTips {
  position: absolute;
  font-family: monospace;
  font-size: x-small;
  color: darkblue;
  background-color: #a9a9a97a;
  top: 1%;
  left: 10px;
  z-index: 2;
  display: flex;
  flex-direction: row;
}

.ErrorNote {
  position: absolute;
  font-family: monospace;
  font-size: x-large;
  color: red;
  background-color: #a9a9a97a;
  top: 45%;
  left: 40%;
  z-index: 2;
}
